li,a,div,td,p,h4 {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
	-khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    -o-user-select: none !important;
    user-select: none !important;
}
body{background:#ccc;}.ui-mobile #HomePage{background-color:#ccc;}.IconWrapper{list-style-type: none;width:100%;padding:0px;margin:0;text-align:center;}
.IconContainer{position:relative;display:inline-block;vertical-align:top;width:93px;text-align:center;padding-bottom:10px;padding-top:10px;}.IconContainer .ui-link{text-decoration:none;color:#111;font-weight:normal;}.IconContainer a.ui-link:visited{color:#111}
.TextContainer{position:relative;display:inline-block;vertical-align:top;min-width:75px;max-width:100px;text-align:center;padding:5px;}.TextContainer .ui-link{text-decoration:none;color:#111;font-weight:normal;}.TextContainer a.ui-link:visited{color:#111}
.HomeIcon{background-repeat:no-repeat;background-position:0px 0;height:32px;width:32px;margin-left:auto;margin-right:auto;text-align:center;}
.GreenIcon{background-repeat:no-repeat;background-position:center;background-image:url('../images/circle_green_16_ns.png');}
.RedIcon{background-repeat:no-repeat;background-position:center;background-image:url('../images/circle_red_16_ns.png');}
em{color:red;font-weight:bold;padding-right:.25em;}
.navLeftIcon {padding:0;margin:0;float:left;text-decoration: none}
.navRightIcon {padding:0;margin:0;float:right;margin-left:-4px;text-decoration: none}
.ui-li-desc {white-space: normal;}
.FavSet{background:none !important;background-color:#fadb4e !important;}
.FavUnset{background:none !important;}
.SugarLabel{color: #4e77a0;font-weight: initial;white-space: normal;}
.reportTable{border-spacing: 0px;width:100%;}
.reportTable tr:nth-child(even) {
    background: #f5f5f5;
}
.reportTable th {
    background-color: #c5c5c5;
}
.reportCell{font-size:12px;text-shadow:none;box-sizing: border-box;border-width: 1px;border-color: #bfb8b8;border-style: dotted;padding-left:10px;padding-right:10px;padding-top:3px;padding-bottom:3px;}
.report_value{font-size:12px;text-shadow:none;box-sizing: border-box;border-width: 1px;border-color: #bfb8b8;border-style: dotted;padding-left:10px;padding-right:10px;padding-top:3px;padding-bottom:3px;}
.report_totals_hdr{
    background: #c5c5c5 !important;
}
.report_totals_hdr td {
    font-weight: bold;
}
.report_totals_val{
    background: #f5f5f5 !important;
}
.thumb { height: 75px; border: 1px solid #000; margin: 10px 5px 0 0;}

.ms-list { line-height: 28px; text-shadow: none; }
.ms-list li { line-height: normal; }
.ms-line { font-size: 10px; -webkit-backface-visibility: hidden; }

.productimage {max-width: 40%}
.itemNumber{
  text-align: right;
}
.itemTable table{
  border-collapse: collapse;
}

.itemTable tr { 
    border-bottom: 1px solid #cccccc !important;
	border-bottom-width: 1px !important;
}
.itemHeader th { 
	font-size: smaller !important;
	padding-right: 4px !important;
}
.itemLine td { 
	padding-left: 4px !important;
	padding-right: 4px !important;
}

.table-listview .clear { clear: both; }

#LockPage .ui-header a {
	display: none;
}
/*
#CreateSelect .ui-header a {
	display: none;
}
*/
#DownloadDiv { overflow: auto; -webkit-overflow-scrolling: touch; height: 500px; }
.embedPDF{ width: 900px; height: 10000px }
.embedIMG{ width: 100%; height: auto }

.CenterBtns{margin:0 auto; margin-left:auto; margin-right:auto; align:center; text-align:center;}
.QCRMLinks{text-decoration:none;color:#444;}
.QCRMNumber {text-align:right;}
.QCRMActLinks{text-decoration:underline;color:#000000;}

.ui-navbar li .ui-btn {font-size:10px;}
	  
.ui-footer p{text-align:center;}
.ui-header .ui-title {
margin-left: 0;
margin-right: 0;
   /* text-overflow:visible;  */ /* -Uncomment - to disable Ellipsis completely use with Caution- !*/ 
}

	#ipadstatusbar
	{
    width:100%;
    height:20px;
    background-color:white;
    position:fixed;
    z-index:100;
	}
 
	.ipad .ui-page
	{
    margin-top: 20px;
	}

 /* wrap push on wide viewports once open */
@media (min-width: 35em){
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-fixed-toolbar-display-reveal,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal {
		margin-right: 17em;
	}
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-fixed-toolbar-open.ui-panel-content-wrap-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-responsive-panel.ui-page-panel-open .ui-panel-content-wrap-open.ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin: 0 0 0 17em;
	}
	.ui-responsive-panel .ui-panel-dismiss-display-push {
		display: none;
	}
	
	#DownloadDiv { overflow: auto; -webkit-overflow-scrolling: touch; height: 750px; }
	
	.IconContainer{width:123px;}
	.TextContainer{max-width:220px;}
	
}
.ui-panel-inner {padding-top:0px;}


.ui-grid-a .ui-block-a.calleft {
		width:40%;
}

.ui-grid-a .ui-block-b.calright {
		width:60%;
}

@media all and (max-width: 35em) {
	.my-breakpoint .ui-block-a, 
	.my-breakpoint .ui-block-b, 
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e { 
		width: 100%; 
		float:none; 
	}
	
	.itemNumber{
		text-align: left;
	}

	.ui-grid-a .ui-block-a.calleft {
		width:100%;
	}

	.ui-grid-a .ui-block-b.calright {
		width:100%;
	}
}

@media all and (max-width: 35em) {
	#ios7statusbar
	{
    width:100%;
    height:20px;
    background-color:white;
    position:fixed;
    z-index:100;
	}
 
	.ios7 .ui-page
	{
    margin-top: 20px;
	}
}

.inline-form {
}

.inline-form .wrapper {
  float: left;
  width: 100%;
}

.inline-form .wrapper .content {
/*  margin: 0 75px 0 92px; */ /* 0 RC 0 LC */
}

.inline-form .left {
  float: left;
/*  width: 92px; *//* LC */
/*  margin-left: -100%; */
}

.inline-form .text {
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  display: block; 
/*  font-size: 16px; */
}

.inline-form .right {
  float: left;
  width: 75px; /* RC */
  margin-left: -75px; /* -RC */
}

.inline-form .footer{
  clear: left;
}

/* list view / Tablet */
.ui-btn-active.ui-btn.listselected,.ui-btn-active.ui-btn-hover.listselected {
	background-color:none !important;
	background: #bcbcbc !important;
	color: initial !important;
}
/*
.ui-btn-active.ui-btn-up-d.listselected a,.ui-btn-active.ui-btn-hover-d.listselected  a{
*/
.ui-btn-active.listselected:hover, .ui-btn-active.listselected a.ui-link-inherit{
	color: initial !important;
}
.ui-grid-a .ui-block-a.listleft {
	width:35%;
	padding-right: 20px !important;
	border-right: solid 1px black
}

.ui-grid-a .ui-block-b.listright {
	width:65%;
	padding-bottom: 20px !important;
	padding-top: 15px !important;
	padding-left: 20px !important;
	padding-right: 15px !important;
	border-left: solid 1px black;
}

.mbsc-lv-cont {padding-top: 15px}

.ui-navbar a, .mbsc-lv-item, .ui-listview > li.ui-last-child, .ui-listview > li.ui-last-child > a.ui-btn, .ui-listview > li.ui-first-child, .ui-listview > li.ui-first-child > a.ui-btn{
    border-radius: 0 !important;
}

.ui-icon-wrench:after {
	filter: invert(100%);
	-webkit-filter: invert(100%);
}

.JJWGOK{background-repeat:no-repeat;background-position:right;height:32px;width:32px;padding-right:20ph;display:inline-block;background-image:url('../images/circle_green_16_ns.png');}
.JJWGAPPROXIMATE{background-repeat:no-repeat;background-position:right;height:32px;width:32px;padding-right:20ph;display:inline-block;background-image:url('../images/circle_orange_16_ns.png');}

#caseStyleUser {
    background:#f7f7f7;
    border:1px solid #cccccc;
    margin:10px;
    padding:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size:12px;
}

#caseStyleContact {
    background:#DEDEDE;
    border:1px solid #cccccc;
    margin:10px;
    padding:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	font-size:12px;
}

#caseStyleInternal {
    background:#00EEEE;
    border:1px solid #cccccc;
    padding:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin: 10px 60px 10px 10px;
	font-size:12px;
}

.caseUpdateImage {
    margin:0 5px 0 0;
}

.caseUpdate{
    margin:5px 0 0 15px;
}

#extramargin {
    margin: 0 0 0 50px;
}

#lessmargin {
    margin: 0 50px 0 0;
}

.ui-input-text{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
  	outline: 0 !important;
    box-shadow: none !important;
	border-bottom: 1px solid #396b9e !important;
	border-radius: 0px !important;
	-webkit-border-radius: 0px !important;
}


.CRMTotals {
    background: #c5c5c5 !important;
	font-weight: bold;
}

.ListTotals {
	margin: 1em -1em 0 -1em;
	padding: 5px 20px 5px 26px;
}
.DashletTotals {
	margin: -1em 0 1em 0;
	padding: 5px 20px 5px 16px;
}
.SubpanelTotals {
	margin: -1em 0 1em 0;
	padding-left: 16px;
}

.totalName {
    text-decoration: underline;
    cursor:pointer;
}

.groupName {
	padding: 2px 6px;
}

.groupLink {
    text-decoration: underline;
    cursor:pointer;
	padding: 2px 6px;
}
.groupValue {
 	padding: 2px 6px;
	text-align: right;
}
